.pic2 {
    padding: 20px;
    float : left;
}

#A2 {
    font-size: 25px;
    color:white;
    font-family:Arial, Helvetica, sans-serif
}


h1{
    color: red;
}

.button2 {
    border-radius: 50px;
    border-color:blue;
}

.V2 {
    float: right;
}